<configuration> 
  <packageRestore>
    <!-- Разрешить NuGet загружать отсутствующие пакеты -->
    <add key="enabled" value="True" />
    <!-- Автоматически проверять отсутствие пакетов при сборке  -->
    <add key="automatic" value="True" />
  </packageRestore>
  <config> 
    <add  key = "repositoryPath"  value = "pkg\packages"  /> 
  </config> 
  <packageSources>
    <add key="ZTP" value="pkg\packages" />
  </packageSources>

  <activePackageSource>
    <add key="ZTP" value="pkg\packages" />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

<!--
  <disabledPackageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </disabledPackageSources>
-->
</configuration>